*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;
}

body{
    font-family: 'Manrope', sans-serif;
}

.visualization{
    max-width:1200px;
    
    margin:80px auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.first_box{
    flex-basis:67%;
    
}
.second_box{
    flex-basis:30%;
    
}
.first_box img{
    width:100%;

}
#visual{
    background-color:rgba(0,227,150);
    font-size:12px;
    width:25%;
    color:white;
    font-weight:600;
    text-align: center;
    border-radius:2px;
    padding:2px;
}
h1{
    margin:15px 0px;
    font-size:35px;
}

#icon i{
    font-size:25px;
    color:rgb(199, 196, 196);
    margin-right:15px;
}
#icon,#action,#drill,#chart{
    font-size:16px;
    font-weight:600;
    margin-bottom:20px;
}
#action i,#chart i{
    font-size:30px;
    color:rgb(199, 196, 196);
    margin-right:20px;
}
#drill i{
    font-size:30px;
    color:rgb(199, 196, 196);
    margin-right:25px;

}
#custom{
    font-size:14px;
    color:rgb(179, 176, 176);
}

@media(min-width:320px)
{
    .visualization{
        display:flex;
        flex-direction:column;
        margin:50px 15px;
    }

    .first_box{
        width:100%;
    }
    .second_box{
       width:100%;
       margin-top:30px;
    }
    h1{
        
        font-size:25px;
    }
    #icon i{
        font-size:20px;
    }
    #action i,#chart i{
        font-size:25px;
        
    }
    #drill i{
        font-size:25px;
    
    }
    #visual{
        width:30%;
    }
    
}

@media(min-width:450px)
{
    h1{
        
        font-size:30px;
    }
    #visual{
        width:25%;
    }
}

@media(min-width:700px)
{
    
    #icon i{
        font-size:25px;
    }
    #action i,#chart i{
        font-size:30px;
        
    }
    #drill i{
        font-size:30px;
    
    }
    #visual{
        width:15%;
    }
    
}

@media(min-width:850px)
{
    .visualization{
        display:flex;
        flex-direction:row;
        margin:80px auto;
    }
    h1{
        
        font-size:32px;
    }

    .first_box{
        flex-basis:67%;
    }
    .second_box{
        flex-basis:30%;
       margin-top:0px;
    }
    #visual{
        width:35%;
    }
}

@media(min-width:1100px)
{
    #visual{
        width:25%;
    }
    h1{
        
        font-size:35px;
    }
}
